fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
email-validator
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt<5
python-multipart
httpx
openai
redis
celery
langgraph
langchain-openai
python-dotenv
alembic
playwright
google-generativeai
asn1crypto
groq
python-telegram-bot
